@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 68px;
    padding: 0px;
}
#subheading {
    width: 50%;
    padding: 0px;
}
#subheading-img {
    width: 30%;
}
#subheading-text {
    width: 40%;
    padding-left: 10%;
}
.indent {
    padding-left: 40px;
}
h2 {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 36px;
    padding: 0px;
}
h3 {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 24px;
    padding: 0px;
}
.taylor {
    width: 500px;
    padding-top: 100px;
}
@media only screen and (max-width: 900px) { 
    .hide {
        display: none;
    }
}

.logo {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* grid */


.logo { grid-area: logo; }
.img { grid-area: img; }
.subhead { grid-area: subhead; }
.buttons { grid-area: buttons; }
.profilepic { grid-area: profilepic; }

.grid-container {
  display: grid;
  grid-template-areas:
    'logo logo profilepic'
    'subhead subhead  profilepic'
    'buttons buttons  profilepic';
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  margin: auto;
  width: 80%;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

hr.sewing {
    border: 2px dashed #b5698a;
}

.btn {
    background-color: #56bf99;
    border: 2px solid #4ba684;
    cursor: pointer;
    font-family: 'sans serif';
    color: #fff;
    border-radius: 5px;
    font-size: large;
    margin-bottom: 10px;
    padding: 5px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: antiquewhite;
    color: black;
    text-align: center;
  }




  /* The Overlay (background) */
 .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    color: #fff;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } 
  



  /* botique grid */
  /* grid */


.address { grid-area: address; }
.map { grid-area: map; }
.img { grid-area: img; }

.grid-container-botique {
  display: grid;
  grid-template-areas:
    'address img'
    'map img';
  gap: 10px;
  padding: 10px;
  margin: auto;
  width: 80%;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.address {
    color: antiquewhite;
}


input[type=text], textarea {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus, textarea:focus {
  border: 3px solid #555;
}



.logo { grid-area: logo; }
.img1 { grid-area: img1; }
.txt1 { grid-area: txt1; }
.txt2 { grid-area: txt2; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.txt3 { grid-area: txt3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }
.hr {grid-area: hr;}
.hr2 {grid-area: hr2;}
@media screen and (min-width: 900px) {
.grid-container-portfolio {
  display: grid;
  grid-template-areas:
    'logo logo logo'
    'img1 img1 txt1'
    'txt2 img2 img3'
    'hr hr hr'
    'img4 img5 img6'
    'txt3 txt3 txt3'
    'hr2 hr2 hr2';
  gap: 10px;
  background-color: white;
  padding: 10px;
  margin: auto;
  width: 80%;
}

.img1 { width: 100%; }
}
.grid-container-portfolio > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
@media screen and (max-width: 900px) {
  .grid-container-portfolio {
    display: grid;
    grid-template-areas:
      'logo'
      'img1'
      'txt1'
      'txt2' 
      'img2'
      'img3'
      'hr'
      'img4'
      'img5'
      'img6'
      'txt3'
      'hr2';
    gap: 10px;
    background-color: white;
    padding: 10px;
    margin: auto;
    width: 500px;
  }
  .img1 { width: 450px; }
} 
.nostyle {
  text-decoration: none;
  color: black;
}